GATSBY_PUBLIC_URL="http://rc-bgdf.de"

STRAPI_API_URL="https://backend.rc-bgdf.de"

GATSBY_LOLA_LAT="53.4953819"
GATSBY_LOLA_LNG="10.2058116"
GATSBY_FB_APPID="555845005032870"
GATSBY_OWM_API_KEY="..."

GATSBY_HERO_VIDEO_URL=https://asset.cloudinary.com/dgibmteg8/532e6167e3d824aecb9dfff12217cda3
GATSBY_HERO_VIDEO_THUMBNAIL_URL=https://asset.cloudinary.com/dgibmteg8/3a5f7cac5ed7730f7fc286a639761926

