.beitragsbild {
    margin-top: 1em;
}

.react-share__ShareButton {
    margin-left: .25em;
    margin-right: .25em;
}

#nav-oben {
    padding-bottom: 0px;
}

#nav-unten {
    padding-bottom: 0px;
}
.autor-info {
    font-size: smaller;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 1em;
    float: left;
}

