.beitragsbild {
    margin-top: 1em;
}

.react-share__ShareButton {
    margin-left: .25em;
    margin-right: .25em;
}

#nav-oben {
    padding-bottom: 0px;
}

#nav-unten {
    padding-bottom: 0px;
}
