@import "../../style-tokens.scss";

.text-carousel-item-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
  min-height: 10em;

}

.carousel-wrapper {

  .carousel-caption {
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(90,90,90,.6);
    p, h3 {
      color: white;
    }
  }
}

